<h1>{{title}}</h1>
<div class="curves">
    <h1>Curves</h1>
        {{#each curves}}
            <p>Curve</p>
            <p>Time passed since start {{timePassedSinceStart}}</p>
            <p>Direction {{curvesDescription}}</p>
            <p>Occurence {{numDetection}}</p>
        {{/each}}
</div>
