<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascripts/jquery-2.1.4.min.js"></script>
    <script src="/javascripts/handlebars.min-latest.js"></script>
    <script src="/javascripts/Chart.min.js"></script>
    <script src="/javascripts/curves.js"></script>
</head>
<body>
{{{body}}}
</body>
</html>
