body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#container {
    display: flex;
}
#chart_container {
    margin-left: auto;
}
#curve_container {
    display: flex;
    flex-direction: column;
}
.curve {
    display: flex;
    flex-direction: row;
}
.curve > p{
    margin: 10px 10px 10px 10px;
}