<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<link rel='stylesheet' href='/stylesheets/style.css'/>
<script src="/javascripts/lib/jquery-2.1.4.min.js"></script>
<script src="/javascripts/lib/handlebars.min-latest.js"></script>
<script src="/javascripts/lib/Chart.min.js"></script>
<script src="/javascripts/curves.js"></script>
<script src="/javascripts/power.js"></script>
<script src="/javascripts/gyro.js"></script>
<button type="button" id="reset">Reset Database</button>
<button type="button" id="refresh">Refresh</button>
<p id="reset_result"></p>
<script id="curve_template" type="text/x-handlebars-template">
    {{#if docs}}
        {{#each docs}}
            <div class="curve">
                <p>Direction {{direction}}</p>
            </div>
        {{/each}}
    {{else}}
    <p>Start your engine...</p>
    {{/if}}
</script>
<script id="message_template" type="text/x-handlebars-template">
    {{#if messages}}
        {{#each messages}}
            <div class="message">
                <p>{{type}} {{message}}</p>
            </div>
        {{/each}}
    {{else}}
        <p>No messages</p>
    {{/if}}
</script>
<div id="container">
    <div id="curve_container"></div>
    <div id="message_container"></div>
    <div id="chart_container">
        <div id="power_level_container">
            <canvas id="power_level" width="250" height="250"></canvas>
        </div>
        <!--<div id="gyro_acceleration_container">
            <canvas id="gyro_acceleration" width="250" height="250"></canvas>
        </div>-->
    </div>
</div>
</body>
</html>